# Keep the IP / Business Secrets from public access.
code/data

# Save some space on large datasets.
code/cnn/data

# Remove IDE specific configurations.
.vscode

# The folder containing the dataset.
data

# Transformer checkpoints are too big.
code/transformer/checkpoints/*
code/transformer/transformer_checkpoint.pth
code/siamese/*

# Cache for python
code/evotorch/__pycache__
code/gp/__pycache__
code/transformer/__pycache__