Optimization finished.
Best trial:
  Value (negative val_accuracy): -0.90625
  Params: 
    learning_rate: 1.525278329739637e-05
    batch_size: 32
    num_epochs: 639
    temperature: 0.15315677554577894
    embedding_dim: 512
    hidden_dim: 512
    dropout: 0.20916046674956115
    num_layers: 2
    noise_enabled: False
    shift_enabled: False
    scale_enabled: False
    crop_enabled: False
    flip_enabled: False
    permutation_enabled: False