    Optimization finished.                                                               
    Best trial:                                                                          
      Value (negative val_accuracy): -0.71875                                            
      Params:                                                                            
        learning_rate: 0.00011500848570488043                                            
        batch_size: 32                                                                   
        num_epochs: 714                                                                  
        temperature: 0.12570917761142023                                                 
        embedding_dim: 256                                                               
        hidden_dim: 256                                                                  
        dropout: 0.29554595171068887                                                     
        num_layers: 1                                                                    
        num_inner_functions: 5                                                           
        noise_enabled: True                                                              
        shift_enabled: True                                                              
        scale_enabled: True                                                              
        crop_enabled: True                                                               
        flip_enabled: True                                                               
        permutation_enabled: False                                                       
        noise_level: 0.06959999968215412                                                 
        crop_size: 0.8182696162780263 