{
    "hyperparameters": {
        "learning_rate": 0.0007115777439113662,
        "batch_size": 32,
        "num_epochs": 185,
        "temperature": 0.4307473065515662,
        "embedding_dim": 256,
        "hidden_dim": 512,
        "dropout": 0.28671596870439187,
        "num_layers": 2,
        "num_heads": 2,
        "noise_enabled": true,
        "shift_enabled": false,
        "scale_enabled": false,
        "crop_enabled": false,
        "flip_enabled": false,
        "permutation_enabled": false,
        "noise_level": 0.08998816995581424
    },
    "validation_score": 0.984375
}