{
    "hyperparameters": {
        "learning_rate": 0.0001430311774108936,
        "batch_size": 32,
        "num_epochs": 447,
        "temperature": 0.1489216322812962,
        "embedding_dim": 512,
        "hidden_dim": 512,
        "dropout": 0.4301028656890278,
        "num_layers": 2,
        "num_heads": 8,
        "noise_enabled": true,
        "shift_enabled": false,
        "scale_enabled": false,
        "crop_enabled": false,
        "flip_enabled": false,
        "permutation_enabled": false,
        "noise_level": 0.07370107442541939
    },
    "validation_score": 0.796875
}