{
    "hyperparameters": {
        "learning_rate": 0.0005679322945498316,
        "batch_size": 32,
        "num_epochs": 375,
        "temperature": 0.29063452579262367,
        "embedding_dim": 256,
        "hidden_dim": 256,
        "dropout": 0.48991175948539684,
        "num_layers": 5,
        "num_heads": 8,
        "noise_enabled": true,
        "shift_enabled": false,
        "scale_enabled": false,
        "crop_enabled": true,
        "flip_enabled": false,
        "permutation_enabled": false,
        "noise_level": 0.0984100262799093,
        "crop_size": 0.537691257614809
    },
    "validation_score": 0.9479166666666666
}